
<link rel="stylesheet" type="text/css" href="/home.css">

<section id="main">
<section id="user-friends">
    <h4>Friends</h4>

    <% for(u of all_users){ %>

        <p>
            <a href="/profile/<%=u.id%>"> <%= u.name%> </a>

        </p>

        <%}%>

    </section>

<section id="feed-posts">
    <h1>Post your idea here</h1>

    <% if(locals.user){ %>
    <form  action="/posts/create" id="new-post-form" method="POST">   
        <textarea id="box" name="content" cols="30" rows="3" placeholder="Enter post here"></textarea>
        <input  type="submit" value="Make the post" class="dodo">
        
    </form>

    <% } %>
    
    <%- include('_post') -%>

    

</section>

</section>
<%- include('_chat_box') -%>

<script src="/js/home_posts.js"></script>
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
<script src="/js/chat_engine.js"></script>

<% if(locals.user){ %>

    <script>

        new chatEngine('user-chat-box', '<%= locals.user.email %>');
    </script>

    <%}%>
