


    <title>title</title>
    <link rel="stylesheet" href="/signing.css">




    <div>
<h2>profile-page</h2>
</div>

<div>
<img src="<%= profile_user.avatar%>" alt="<%= profile_user.name%>">
</div>

<section id="main">
<p>Name: <%= profile_user.name %></p>
 <p>Email: <%= profile_user.email%></p>
 <p>Profession: <%= profile_user.profession%></p>
 <br>



 <% if(user.name == profile_user.name){ %>
    <p>Need to edit?</p>
    <form action="/update/<%= profile_user._id%>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" class="dodo" placeholder="enter name here" >
        <input type="email" name="email" class="dodo" placeholder="enter email here" >

        <input type="file" name="avatar" placeholder="Your profile pic">
        <input type="submit" class="dodo" value="Update">
    </form>

    
 <%}%>

 <a href="/sign-out">Sign Out</a>
</section>



